
.tourb2-ab-p4-com h4 span{
    color:#005288 !important;
}
.tourb2-ab-p4-text h4.subtitle{
    text-transform: none;
}
.tourb2-ab-p4-com i{
    color:#005288 !important;
}
.tourb2-ab-p1-left h3{
    padding-bottom: 2rem;
}
.tourb2-ab-p-4.com-colo-abou .scale{
    transform: scale(0.9);
}
.tourb2-ab-p-4{
    padding: 0px 0px 70px 0px !important;
}