#stick{
width:35rem;
#inquire-now{
    // transform: scale(0.9);
    box-shadow: 0 2px 7px 0 rgba(155,155,155,0.5);
    position: relative;
    background-color: white;
    padding: 0px 2rem;
    padding-top: 2rem;
transform:scale(0.8);   
    top:-10rem;
    .form-header{
        height:10rem;
        display:flex;
        align-items:center;
        justify-content:center;
        h4{
            font-size:3rem;
            color: $mainOra;
            span{
                color:$sidBlu;
                font-size:3rem;
                font-weight:600;
            }
        }
        
    }
    form{
        .text-area{
            display: flex;
            flex-direction: column;

            input{
                border-radius: 3px;
                box-shadow: 0 1px 4px 0 rgba(212,212,212,0.5);
                border: solid 1px #ebebeb;
                background-color: #fff;
                padding: 5px 10px;
                height: 3.5rem;
            }
            label{
                padding-top: 1rem;
                font-size: 14px;
                margin-bottom: 10px;
                color: #000;
                font-weight: bold;
            }
            select{
                display: block !important;
                border-radius: 3px;
                box-shadow: 0 1px 4px 0 rgba(212,212,212,0.5);
                border: solid 1px #ebebeb;
                background-color: #fff;
                padding: 5px 10px;
                height: 3.5rem;
            }
            .discription-text{
                height:auto !important;
                margin-top: 2rem;
                background: white;
            }
            .cheakbox {
                left:0px !important;
                padding-right: 1rem;
                opacity: 1 !important;
                position:static !important;
            }
        }
        
        .form-inline{
            label{
                padding-top: 1rem;
                font-size: 14px;
                margin-bottom: 10px;
                color: #000;
                font-weight: bold;
            }
            .div{
                display: flex;
                justify-content: space-between;
                .code{
                    display: block !important;
                    border-radius: 3px;
                    box-shadow: 0 1px 4px 0 rgba(212,212,212,0.5);
                    border: solid 1px #ebebeb;
                    background-color: #fff;
                    padding: 5px 10px;
                    height: 3.5rem;
                    width: 35%
            }
            input.phone{
                border-radius: 3px;
                box-shadow: 0 1px 4px 0 rgba(212,212,212,0.5);
                border: solid 1px #ebebeb;
                background-color: #fff;
                padding: 5px 10px;
                height: 3.5rem;
                width: 60%
        }
            
                
            }
        }
        .child-inline{
            padding-top: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .top{
                margin-bottom: 0px !important;
                line-height: 0px !important;
            }
            .down{
                font-size: 11px;
            }
            .inputs{
                display: flex;
                justify-content: space-between;
                width: 38%;
                #moins{
                    height: 35px;
                    width: 35px;
                    border-radius: 5px;
                    border: 1px solid #fDA014 !important;
                    background: white;
                    font-weight: 500;
                }
                #count{
                    height: 25px;
                    width: 10%;
                    background: transparent;
                    border: 0;
                    font-size: 14px !important;
    
                }
                #plus{
                    height: 35px;
                    width: 35px;
                    border-radius: 5px;
                    border: 1px solid #fDA014 !important;
                    background: white;
                    font-weight: 500;
                }
            }
            
        }
        .cheakbox-area{
            display:flex;
            flex-direction: column;
            .form-cheakbox{
                padding-top: 2rem   ;

                display:flex;
                label{
                    // padding-top: 1rem;
                    font-size: 14px;
                    margin-bottom: 10px;
                    color: #000;
                    font-weight: bold;
                }
                input{
                    border-radius: 3px;
                    box-shadow: 0 1px 4px 0 rgba(212,212,212,0.5);
                    border: solid 1px #ebebeb;
                    background-color: #fff;
                    padding: 5px 10px;
                    height: 3.5rem;
                }
            }
                    input{
                        border-radius: 3px;
                        box-shadow: 0 1px 4px 0 rgba(212,212,212,0.5);
                        border: solid 1px #ebebeb;
                        background-color: #fff;
                        padding: 5px 10px;
                        height: 3.5rem;
                    }
        }
        .confirm-buttom{
            display:flex;
            justify-content: center;
            margin-top:3rem;    
           
            input{

                position:absolute;
                height:5rem !important;
                width:100% !important;
                background:$mainOra ;
                font-size: 16px !important;
                font-weight: 600;
                color:white;
                border:0;
                box-shadow: 0 2px 7px 0 rgba(155,155,155,0.5);
                border-radius:0 0 5px 5px;
            }
            input:hover{
                background:$hoveSidBlueDark;
            }
        }
    }
}
                       
}

#myCarousel1{
    margin-bottom:4rem;
}

#simmilarListingGala{
    position:relative;
    top:-20rem;
    height:auto;
    width:35rem;
    padding:2rem;
    padding-top:4rem;
    transform: scale(0.8);
    background-color: white;
    .listingGalaHead{
        height:5rem;
        h3{
            margin:0;
            padding:0;
            font-weight:500;
        }
    }
                            
    .itemGalaListing{
        padding-bottom:2rem;
        border-bottom:1px solid #f9f9f9;
    text-decoration:none;
        display:flex;
        margin-bottom:1rem;
        #imgItemGalaListing{
            width:30%;
            height:8rem;
            img{
                width:100%;
                height: 100%;
            }
        }
        #linksandDataItemGalaListing{
            width:70%;
            display:flex;
            flex-direction:column;
           justify-content:center;
           padding-left:2rem;
            h4{
                margin:0;
                padding:0;
                color:black;
                font-weight:500;
            }
            h6{
                color:$mainOra;
                margin:0;
                padding:0;
                font-size:1.9rem;
                span{
                    color: black;
                    padding-left:1rem;
                }
            }
        }
    }
}