#footer{
    background-color: $kharawy;
    display:flex;
    height:32rem;
    flex-direction:column;
    .footerUpper{
        height:25%;

        border-bottom:1px solid rgba(255, 255, 255, 0.301);
        
    }
    .footerDown{
        height:75%;
        width:100%;
            display:flex;
            align-items:center;
            
        .aboutUs{
            width:33.3%;
            height:80%;
            display:flex;
            flex-direction:column;
                
            .galaxiaLogo{
             height:40%;
                display:flex;
                align-items:center;
             img{
                 height:80%;

                }
                
            }
            .paragraph{
                height:40%;
                p{
                    padding:0;
                    margin:0;
                    font-size:1.1rem;
                    color:white; 
                    width:80%;   
                }
            }
            .socialinks{
                height:20%;
                display:flex;
                align-items:center;
                ul{
                    list-style:none;
                    display:flex;
                    background-color:red;
                }
            }
            
        }
        .links{
            width:41.6%;
            height:80%;
            display: flex;
            
           .ListCoulmn{
                width: 33.3%;
                .list{
                    ul{
                        list-style: none;
                        

                        .reorder{
                            display: flex;
                            flex-direction: column;
                        
                            a {
                                color: rgba(255, 255, 255, 0.295); 
                            }
                                }

                    }
                }
            }
            
        }
        
        .end{
            width:25%;
            height:80%;
        }
    }

    #footerBar {
        background-color: $kharawy2;
        height: 3rem;
        h1{
            padding:0;
            margin:0;
        }
    }
}