.cont-color{
    background: $hoveSidBlueDark;
}
.contact-bar{
    background: white;
    min-height: 30rem; 
    display: flex;
    flex-direction: column-reverse;  
}
.first-small-bar-location{
    background: white;
     display: flex;
    justify-content: flex-end;
}
.sec-small-bar-location{
    display: flex;
    justify-content: flex-end;
}
.upper-bar{
    background:white;
    height: 10rem;
    display: flex;
    justify-content: flex-end;
}
.inside-bar{
    background:$mainOra;
    height: 10rem;
    display: flex;
    justify-content: flex-end;
    // flex-direction: column-reverse;  
}
.written{
    background: white;
    height: 10rem;
    min-width: 20rem;
    width: 40%;
    padding-left:5rem; 
}
.small-bar{
    background: $footer-color;
    height: 10rem;
    min-width: 20rem;
    width: 40%;
    display: flex;
}
.first-table{
    padding-left: 3rem;
    padding-right: 5rem;
}
.small-bar .h3{
    color: white;
    padding: 0.5rem;
    padding-top:0;
}

.small-bar .h4{
    color: white;
    padding: 0.5rem;
    padding-top:0; 

}
.prag-color{
    color: silver;
}
.cont-bg{
    background: $mainBlu;
    height: 6rem;
    border-top: 2px solid white;
    border-bottom: 4px solid white;

}
.footer-title{
    font-weight: 600;
    color: white;
}
.list{
   font-weight: 500;
   color: gainsboro;
}
.cont-bg{
    background:$mainFooterColor ;
    height: 6rem;
    border-top: 2px solid white;
    border-bottom: 4px solid white;
    .footer-img{
        
        
        .imageGala{
            width:150px;
            height: 50;
           
    }
    .postion{
        display: flex;
        justify-content: flex-end;

        .h4{color:white;
            padding-top: 1rem;
    
        }
    }
    

}
}
.footer-image{
    max-width: 400px;
    max-height: 350px;
    position: absolute;
    z-index: 9999;
    margin-left: 30%;
}

