#topDestinationsGala{
    padding-bottom:3rem;
    #topDestinationsGrid{
        display:flex;
        flex-wrap:wrap;
        .destinationGala{
            position: relative;
            width:33.2%;
            height: 25rem;
            background-size:cover;
            background-position:bottom;
            display:flex;
            justify-content:center;
            align-items:center;
            z-index:0;
            cursor:pointer;
            h1{
                color: white;
            }
            &:before{
                content:'';
                position: absolute;
                padding: 2rem;
                width:100%;
                height:100%;
                background-color: $packageOverlay;
                z-index:-1;
            }

        }
    }
}