include  ../../commons/distBanner
include  ../../commons/cardMixin
+upperbar("bannerEgypt")
include ../../commons/flag
#information.container
    .row
        .info-header.col-md-9
            h2 Alexandria
            p.subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, facere adipisci magni tempore fuga a est assumenda, eaque fugiat maxime totam doloremque ab reprehenderit numquam? Temporibus quibusdam odio omnis voluptates.
            .inline
                .column
                    img(src='assets/img/img_snow.jpg' alt='Snow' style='width:100%')
                .column
                    img(src='assets/img/img_snow.jpg' alt='Forest' style='width:100%')
                .column
                    img(src='assets/img/img_snow.jpg' alt='Mountains' style='width:100%')
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, facere adipisci magni tempore fuga a est assumenda, eaque fugiat maxime totam doloremque ab reprehenderit numquam? Temporibus quibusdam odio omnis voluptates.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, facere adipisci magni tempore fuga a est assumenda, eaque fugiat maxime totam doloremque ab reprehenderit numquam? Temporibus quibusdam odio omnis voluptates.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, facere adipisci magni tempore fuga a est assumenda, eaque fugiat maxime totam doloremque ab reprehenderit numquam? Temporibus quibusdam odio omnis voluptatesLorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, facere adipisci magni tempore fuga a est assumenda, eaque fugiat maxime totam doloremque ab reprehenderit numquam? Temporibus quibusdam odio omnis voluptates Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, facere adipisci magni tempore fuga a est assumenda, eaque fugiat maxime totam doloremque ab reprehenderit numquam? Temporibus quibusdam odio omnis voluptatesLorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, facere adipisci magni tempore fuga a est assumenda, eaque fugiat maxime totam doloremque ab reprehenderit numquam? Temporibus quibusdam odio omnis voluptates
        .col-md-3.resizing
            h5.header Latest Articles
            //- .left-box
            //-     h3 popular trips
            //-     .box
            //-         img(src="assets/img/img_snow.jpg", alt="")
            //-         .content
            //-             p Lorem ipsum dolor sit amet consectetur adipisicing elit.
            ul
                li
                    a(href="#")
                        img(src='assets/img/60-60-2.jpg')
                    a(href="http://")
                        p.pragraph Experience the New 7 Wonders of the World While You Can
                    
                li
                    a(href="#")
                        img(src='assets/img/60-60-2.jpg')
                    a(href="http://")
                        p.pragraph Experience the New 7 Wonders of the World While You Can
                li
                    a(href="#")
                        img(src='assets/img/60-60-2.jpg')
                    a(href="http://")
                        p.pragraph Experience the New 7 Wonders of the World While You Can
                li
                    a(href="#")
                        img(src='assets/img/60-60-2.jpg')
                    a(href="http://")
                        p.pragraph Experience the New 7 Wonders of the World While You Can
                
                    //- p We've driven thousands trips over the past five years
