include  ../../commons/distBanner
include  ../../commons/cardMixin
+upperbar("bannerEgypt")
//- include ../../commons/flag
#information.container
    .row
        .info-header.col-md-9
            h2 HURGHADA
            hr
            p.
            p.subtitle Blessed with a 40-kilometer stretch of natural beaches off the Red Sea Coast, Hurghada has established itself as one of the biggest and most prominent Egyptian beach town resorts.
            .inline
                .column
                    img(src='assets/img/img_snow.jpg' alt='Snow' style='width:100%')
                .column
                    img(src='assets/img/img_snow.jpg' alt='Forest' style='width:100%')
                .column
                    img(src='assets/img/img_snow.jpg' alt='Mountains' style='width:100%')
            p Being a resort town, it is but natural that Hurghada attracts the diver crowds and enthusiasts of the marine kind. Hurghada is one place to access the famous diving sites and snorkeling sites in the Red Sea. Perhaps, one of the best activities to be availed from Hurghada is the famous swim with the playful dolphins. This resort town has attracted a lot of luxury hotels complete with engaging animation teams that come up with fun beach activities ideal for the whole family and as well as couples spending their honeymoon. 
            p There is a coastal town in Hurghada called El Gouna that is sure to make an impression due to its luxuriousness and efficacy. The town houses a total of 16 well-appointed hotels, a grand gold course, breathtaking lagoons and cozy beach-front villas. The town has no lack of classy bars, gourmet restaurants and nightclubs. 
            p With regards to climate, Hurghada is relatively warm and mostly sunny throughout the year. Summers are hot and winters are just a few notches lower off the mercury reading. Being quite close to the Nile Valley, the city of Hurghada is quite a perfect fit to visit along with Luxor and some other exciting adjacent cities. 
        .col-md-3.resizing
            h5.header Latest Articles
            //- .left-box
            //-     h3 popular trips
            //-     .box
            //-         img(src="assets/img/img_snow.jpg", alt="")
            //-         .content
            //-             p Lorem ipsum dolor sit amet consectetur adipisicing elit.
            ul
                li
                    a(href="#")
                        img(src='assets/img/60-60-2.jpg')
                    a(href="http://")
                        p.pragraph Experience the New 7 Wonders of the World While You Can
                    
                li
                    a(href="#")
                        img(src='assets/img/60-60-2.jpg')
                    a(href="http://")
                        p.pragraph Experience the New 7 Wonders of the World While You Can
                li
                    a(href="#")
                        img(src='assets/img/60-60-2.jpg')
                    a(href="http://")
                        p.pragraph Experience the New 7 Wonders of the World While You Can
                li
                    a(href="#")
                        img(src='assets/img/60-60-2.jpg')
                    a(href="http://")
                        p.pragraph Experience the New 7 Wonders of the World While You Can
                
                    //- p We've driven thousands trips over the past five years
