include ./card
#gridGala
    .rowGala  
        .twoColumnGala
            +card('Dubai','2500$','1')    

        .columnGala    
            +card('Jordan','500$','2')    

        .columnGala        
            +card('Nile Cruise','1000$','3')    
             
    .rowGala  
        .columnGala 
            +card('Sharm El Sheikh','1200$','7')    
        
        .twoColumnGala   
            +card('Egypt','750%','5')    
        .columnGala        
            +card('Spain','900$','6')    