section#rightBanner
        .vertical-container
            .swiper-wrapper
                .swiper-slide(style="background-image:url('assets/img/foloImage/e1.jpg')")
                        .verticleData
                            h1 Enjoy Saint Catherine  In The Winter Of Sinai
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus in quisquam, quaerat perferendis repudiandae natus, obcaecati doloremque ut molestias modi delectus deleniti iure! Veniam repellendus inventore commodi voluptatibus numquam et.
                        div.sale
                            span 10% sale
                                
                .swiper-slide(style="background-image:url('assets/img/foloImage/e2.jpg')")
                        .verticleData
                            h1 Enjoy The Giza Pyramids And Take A Picture With The Sphinx
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus in quisquam, quaerat perferendis repudiandae natus, obcaecati doloremque ut molestias modi delectus deleniti iure! Veniam repellendus inventore commodi voluptatibus numquam et.
                        div.sale
                            span 10% sale
                .swiper-slide(style="background-image:url('assets/img/foloImage/e3.jpg')")
                        .verticleData
                            h1 Enjoy the Summer In The Pyramids Of El Sokhna Bay 
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus in quisquam, quaerat perferendis repudiandae natus, obcaecati doloremque ut molestias modi delectus deleniti iure! Veniam repellendus inventore commodi voluptatibus numquam et.
                        div.sale
                            span 10% sale