section#parralaxAccumark
        .container
            .innerDataParralax
                .dataPara
                    .innerDataLeft
                        .leftData
                            .rating
                                ul
                                    li.star.checked  <i class="fa fa-star" aria-hidden="true"></i>  
                                    li.star.checked  <i class="fa fa-star" aria-hidden="true"></i>  
                                    li.star.checked  <i class="fa fa-star" aria-hidden="true"></i>  
                                    li.star.checked  <i class="fa fa-star" aria-hidden="true"></i>  
                                    li.star.checked  <i class="fa fa-star" aria-hidden="true"></i>     
                            .head 
                                h1 GENTLY SLIDE OVER THE NILE
                                h2 With Acamar Nile Cruise .   
                            .description
                                p A stay in Acamar Nile Cruise is like being a guest in well – run private home. The ambiance is elegant yet intimate, the meals exquisite but never pretentious, The Staff Is friendly yet respectful, attending to your every wish with efficient calm       
                            .iconz
                                ul
                                    li Free Wifi 
                                    li Free Wifi 
                                    li Free Wifi    
                                    li Free Wifi 

                    .innerDataRight
                        h1 hiooh