include ../../commons/topSection
include partials/card
section#hotTravelPackage
    .container
        +mii('Hot Travel','Packages')
    .CardContainerGala
        .HotTravelPackagesCards
            .swiper-wrapper
                .swiper-slide 
                        +packageCard('Cairo And Xmas Cruise','Egypt',"500$","tour1")
                .swiper-slide 
                        +packageCard('Egypt Beaches In summer','Egypt',"500$","tour2")
                       
                .swiper-slide 
                        +packageCard("Egypt's Winter Warm sun ",'Egypt',"500$","tour3")
                .swiper-slide 
                        +packageCard('Sinai Diving Tour','Egypt',"500$","tour4")
                .swiper-slide 
                        +packageCard('Neama Bay Tour','Egypt',"500$","tour5")
                .swiper-slide 
                        +packageCard('Hurghada Beaches ','Egypt',"500$","tour6")