section#headerGal.container-fluid
    .swiper-container
        .swiper-wrapper
            .swiper-slide(style="background-image:url('assets/img/slider/1.jpg')")            
            .swiper-slide(style="background-image:url('assets/img/slider/2.jpg')")             
            .swiper-slide(style="background-image:url('assets/img/slider/3.jpg')")             
        .swiper-pagination
        #upperHeaderGala
            div#mainHead
                h1 EXPLORE BEYOND 
                h5 Where do you want to travel to 
            include partials/searchCard
        #galaBar
            include partials/headFooter
            
            
