mixin infoCard(first , second, image )
    .cardInoGala    
           .innderCard
                .image 
                    img(src=image , alt="")
                .dataCard
                    .inCardGala
                        h2=first
                        p=second 