include ../../commons/topSection
section#topDestinationsGala
    .container
        +mii('top','destinations')
    #topDestinationsGrid
        .destinationGala(style="background-image:url('assets/img/foloImage/1.jpg')")
            h1 Dubai 
        .destinationGala(style="background-image:url('assets/img/foloImage/2.jpg')")
            h1 Jordan 
        .destinationGala(style="background-image:url('assets/img/foloImage/3.jpg')")
            h1 Cairo 
        .destinationGala(style="background-image:url('assets/img/foloImage/4.jpg')")
            h1 Delta 
        .destinationGala(style="background-image:url('assets/img/foloImage/5.jpg')")
            h1 Aswan 
        .destinationGala(style="background-image:url('assets/img/foloImage/6.jpg')")
            h1 Abu Dhabi


