script(src="assets/js/vendorjs/jquery-latest.min.js")
script(src="assets/js/vendorjs/jquery-ui.js")
script(src="assets/js/vendorjs/bootstrap.js")
script(src="assets/js/vendorjs/selectize.js")
script(src="assets/js/vendorjs/swiper.min.js")
script(src="assets/js/main.js")