script(src="assets/js/vendorjs/jquery-latest.min.js")
script(src="assets/js/vendorjs/bootstrap.js")
script(src="assets/js/vendorjs/wow.min.js")
script(src="assets/js/vendorjs/materialize.min.js")
script(src="assets/js/vendorjs/noframework.waypoints.min.js")
script(src="assets/js/vendorjs/inview.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js")
script(src="assets/js/vendorjs/selectize.js")
script(src="assets/js/vendorjs/swiper.min.js")
script(src="assets/js/main.js")
script(src="assets/js/vendorjs/custom.js")
