include  ../../commons/distBanner
include  ../../commons/packageCard
+upperbar("bannerEgypt")
include ../../commons/bag
// ====== TOUR DETAILS - BOOKING ==========
//- section(style="padding-top:0 !important;")
  #inner-page-title.rows.banner_book
    .container
      .banner_book_1
        ul
          li.dl1 Location : Illunois,USA
          li.dl2 Price : $500
          li.dl3 Duration : One Night
          li.dl4
            a(href='booking.html') Book Now
// ====== TOUR DETAILS ==========
section#hotelImagesGallery.container-fluid 
      .container
        .row
          .col-md-8 
             #leftContainerWrapper
                .tour_head1.hotel-book-room
                    h3.pictureGala Photo Gallery
                    #myCarousel1.carousel.slide(data-ride='carousel')
                      // Indicators
                      ol.carousel-indicators.carousel-indicators-1
                        li(data-target='#myCarousel1' data-slide-to='0')
                          img(src="assets/img/gallery/s3.jpeg" alt='Chania')
                        li(data-target='#myCarousel1' data-slide-to='1')
                          img(src='assets/img/gallery/s3.jpeg' alt='Chania')
                        li(data-target='#myCarousel1' data-slide-to='2')
                          img(src='assets/img/gallery/s3.jpeg' alt='Chania')
                        li(data-target='#myCarousel1' data-slide-to='3')
                          img(src='assets/img/gallery/s4.jpeg' alt='Chania')
                        li(data-target='#myCarousel1' data-slide-to='4')
                          img(src='assets/img/gallery/s5.jpeg' alt='Chania')
                        li(data-target='#myCarousel1' data-slide-to='5')
                          img(src='assets/img/gallery/s6.jpeg' alt='Chania')
                        li(data-target='#myCarousel1' data-slide-to='6')
                          img(src='assets/img/gallery/s7.jpeg' alt='Chania')
                        li(data-target='#myCarousel1' data-slide-to='7')
                          img(src='assets/img/gallery/s8.jpg' alt='Chania')
                        li(data-target='#myCarousel1' data-slide-to='8')
                          img(src='assets/img/gallery/s9.jpg' alt='Chania')
                      // Wrapper for slides
                      .carousel-inner.carousel-inner1(role='listbox')
                        .item.active
                          img(src='assets/img/gallery/s2.jpeg' alt='Chania' width='460' height='345')
                        .item
                          img(src='assets/img/gallery/s2.jpeg' alt='Chania' width='460' height='345')
                        .item
                          img(src='assets/img/gallery/s3.jpeg' alt='Chania' width='460' height='345')
                        .item
                          img(src='assets/img/gallery/s4.jpeg' alt='Chania' width='460' height='345')
                        .item
                          img(src='assets/img/gallery/s5.jpeg' alt='Chania' width='460' height='345')
                        .item
                          img(src='assets/img/gallery/s6.jpeg' alt='Chania' width='460' height='345')
                        .item
                          img(src='assets/img/gallery/s7.jpeg' alt='Chania' width='460' height='345')
                        .item
                          img(src='assets/img/gallery/s8.jpg' alt='Chania' width='460' height='345')
                        .item
                          img(src='assets/img/gallery/s9.jpg' alt='Chania' width='460' height='345')
                      // Left and right controls
                      a.left.carousel-control(href='#myCarousel1' role='button' data-slide='prev')
                        span
                          i.fa.fa-angle-left.hotel-gal-arr(aria-hidden='true')
                      a.right.carousel-control(href='#myCarousel1' role='button' data-slide='next')
                        span
                          i.fa.fa-angle-right.hotel-gal-arr.hotel-gal-arr1(aria-hidden='true')
          #rightHotelAny.col-md-4
               #rightcontWrapperGala.tour_right.tour_incl.tour-ri-com
                    .rightcontWrapperGalaHeader 
                        span.tour_star
                          i.fa.fa-star(aria-hidden='true')
                          i.fa.fa-star(aria-hidden='true')
                          i.fa.fa-star(aria-hidden='true')
                          i.fa.fa-star(aria-hidden='true')
                          i.fa.fa-star(aria-hidden='true')

                    .rightcontWrapperGalaNos
                        h4 Trip Information
                    .rightcontWrapperGaladown    
                        h data 
                  
                    //-   li Hotel Name : Rio,Brazil
                    //-   li Location : Rio,Brazil 
                    //-   li Hotel Stars : 
                    //-     span.tour_star
                    //-       i.fa.fa-star(aria-hidden='true')
                    //-       i.fa.fa-star(aria-hidden='true')
                    //-       i.fa.fa-star(aria-hidden='true')
                    //-       i.fa.fa-star(aria-hidden='true')
                    //-       i.fa.fa-star(aria-hidden='true')