mixin upperbar(image) 
    section(style="padding-top:0rem !important ;")
      .rows.inner_banner(style="background-image:url('./assets/img/foloImage/"+ image +".jpg');")
        .container
          ul
            li
              a(href='#inner-page-title') Where To go 
            li
              i.fa.fa-angle-right(aria-hidden='true')
            li
              a.bread-acti(href='#inner-page-title') All Destinations
