section#cuuter.container-fluid

    .container
        div#cutterData 
            h1 CRUISES & TOURS IN EGYPT
            button Customize Your Trip
                

        div#desco
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero veniam eveniet quod repellendus optio nulla? Eveniet at quibusdam consequuntur natus quasi distinctio, ratione ipsa, nam dolorum rem fuga quaerat veniam.
 
