mixin cardPackage()
    #cardPackage
        #upperCardPackage
            img(src="./assets/img/foloImage/1.jpg", alt="")
            #price
                .price 
                    span 500$ 
        #footerCardPackage
            #name 
                span Best Tour To egypt  
            #days  
                span.days 5 days  
                span.tour private Tour    
            #discription  
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos numquam repellendus enim, in dolores impedit eaque atque, reiciendis quaerat facilis odit ut! Repellendus sunt inventore qui cumque eius repellat autem? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos numquam repellendus enim, in dolores impedit eaque atque, reiciendis quaerat facilis odit ut! Repellendus sunt inventore qui cumque eius repellat autem?  
            #goPack 
                a(href="pack.html") Read more  
