section(style="padding-top:0 !important;")
  .rows.inner_banner(style="background-image:url('/assets/img/foloImage/2.jpg')")
    .container
      h2
        span Brazil  -
        |  Family Package
      ul
        li
          a(href='#inner-page-title') Home
        li
          i.fa.fa-angle-right(aria-hidden='true')
        li
          a.bread-acti(href='#inner-page-title') Dubai 
      p Book travel packages and enjoy your holidays with distinctive experience
