mixin mii(first ,second, description)
    #upperTitleGala
        .titleGala
            h1=first 
                span=second 
        .seeMoreGala
            a Explore More ...
        .description       
            h2=description    


