section(style='padding-top: 0 !important;')
  .rows.inner_banner.inner_banner_1
    .container
      h2
        span All 
        |  Destinations
      ul
        li
          a(href='#inner-page-title') Home
        li
          i.fa.fa-angle-right(aria-hidden='true')
        li
          a.bread-acti(href='#inner-page-title') All Destinations
      p Enjoy your holidays with distinctive experience
