// Preloader
// MOBILE MENU

// END HEADER SECTION
section
  .rows.inner_banner.inner_banner_2
    .container
      h2
        span About us -
        |  World&apos;s leading tour Booking
      ul
        li
          a(href='#inner-page-title') Home
        li
          i.fa.fa-angle-right(aria-hidden='true')
        li
          a.bread-acti(href='#inner-page-title') About Us
      p Book travel packages and enjoy your holidays with distinctive experience
// ====== ABOUT CONTENT ==========
section.tourb2-ab-p-2.com-colo-abou
  .container
    // TITLE & DESCRIPTION
    .spe-title
      h2
        | About 
        span Galaxia
        |  
      .title-line
        .tl-1
        .tl-2
        .tl-3
      //- p
      //-   | World&apos;s leading tour and travels Booking website,Over 30,000 packages worldwide. Book travel packages and enjoy your holidays with distinctive experience
    .row.tourb2-ab-p1
      .col-md-6.col-sm-6
        .tourb2-ab-p1-left
          h3 Who We Are
          span Duis pretium gravida nisi, ut pulvinar lorem bibendum eget
          p
            | strong Galaxia Tours is one of the trusted Destination Management Companies based out in Egypt and the UAE, and has close partners spread out across the Middle East.
          p
            | Primarily, we engage in offering comprehensive holiday and five-star travel packages to the Middle East. Galaxia Tours has a reputation of giving clients an authentic, super-luxurious and an unforgettable travel experience.
          p
            | Our goal is to become the Number 1 tourism service provider in the entire Middle East region, and we are leaving no stones unturned. We are working hard to make this happen as we have decades of hard work and experience.
          //- a.link-btn(href='#') Call to us: 13654 87898
      .col-md-6.col-sm-6
        .tourb2-ab-p1-right
          img(src="assets/img/side-pic.jpg", alt="", srcset="")
section.tourb2-ab-p-3.com-colo-abou
  .container
    .row.tourb2-ab-p3
      .col-md-3.col-sm-6
        .tourb2-ab-p3-1.tourb2-ab-p3-com
          span 240
          h4 Packages
          p Vivamus nec tortor bibendum risus placerat vulputate at gravida ante
      .col-md-3.col-sm-6
        .tourb2-ab-p3-1.tourb2-ab-p3-com
          span 960
          h4 Places
          p Vivamus nec tortor bibendum risus placerat vulputate at gravida ante
      .col-md-3.col-sm-6
        .tourb2-ab-p3-1.tourb2-ab-p3-com
          span 400
          h4 Events
          p Vivamus nec tortor bibendum risus placerat vulputate at gravida ante
      .col-md-3.col-sm-6
        .tourb2-ab-p3-1.tourb2-ab-p3-com
          span 120
          h4 Hotels
          p Vivamus nec tortor bibendum risus placerat vulputate at gravida ante
section.tourb2-ab-p-4.com-colo-abou
  .container
    h3 Our Services
    p
     | World&apos;s leading tour and travels Booking website,Over 30,000 packages worldwide. Book travel packages and enjoy your holidays with distinctive experience
    .row.tourb2-ab-p4
      .col-md-6.col-sm-6
        .tourb2-ab-p4-1.tourb2-ab-p4-com
          i.fa.fa-flag-o(aria-hidden='true')
          .tourb2-ab-p4-text
            h4
              span SERVICE
            h4
              span
              |  Only the best for our clients.
            p
              | Curabitur vestibulum porta tortor vitae lacinia. Duis pretium gravida nisi, ut pulvinar lorem bibendum eget. Praesent turpis elit, dignissim nec tempor at, congue non justo.
      .col-md-6.col-sm-6
        .tourb2-ab-p4-1.tourb2-ab-p4-com
          i.fa.fa-map-o(aria-hidden='true')
          .tourb2-ab-p4-text
            h4
              span TRANSPARENCY
            h4
              span 
              |  Advocating Sustainable Tourism
            p
              | Curabitur vestibulum porta tortor vitae lacinia. Duis pretium gravida nisi, ut pulvinar lorem bibendum eget. Praesent turpis elit, dignissim nec tempor at, congue non justo.
      .col-md-6.col-sm-6
        .tourb2-ab-p4-1.tourb2-ab-p4-com
          i.fa.fa-gamepad(aria-hidden='true')
          .tourb2-ab-p4-text
            h4
              span CSR
            h4
              span 
              |  We dare to dream big
            p
              | Curabitur vestibulum porta tortor vitae lacinia. Duis pretium gravida nisi, ut pulvinar lorem bibendum eget. Praesent turpis elit, dignissim nec tempor at, congue non justo.
      .col-md-6.col-sm-6
        .tourb2-ab-p4-1.tourb2-ab-p4-com
          i.fa.fa-umbrella(aria-hidden='true')
          .tourb2-ab-p4-text
            h4
              span AMBITION
              |  
            h4
              span
              |  Escorted Motor Coach tours
            p
              | Curabitur vestibulum porta tortor vitae lacinia. Duis pretium gravida nisi, ut pulvinar lorem bibendum eget. Praesent turpis elit, dignissim nec tempor at, congue non justo.
      .col-md-6.col-sm-6
        .tourb2-ab-p4-1.tourb2-ab-p4-com
          i.fa.fa-globe(aria-hidden='true')
          .tourb2-ab-p4-text
            h4
              span AMBITION
            h4
              span 
              |  Escorted Motor Coach tours
            p
              | Middle East is touted as the cradle of civilization and so naturally it is the birthplace of a myriad of religions, cultures and traditions. There are just so many things to explore in this region, the potential is truly limitless.
              | Experience and witness first-hand the beauty of the region and cultural heritage of the region.
              | That's why we are proud to offer not one but a hodge-podge of different packages each customized according to the needs of the customer. You can choose to unwind and relax on a beach or at an exclusive resort, get lost in the bazars or be awestruck by historical wonders, rest assured we provide them.

