.container
    #wrapper
        #companyGala
            #logosGala
                div
                    img(src="assets/img/logofol/1.png", alt="", srcset="")
                div
                    img(src="assets/img/logofol/2.png", alt="", srcset="")
                div
                    img(src="assets/img/logofol/3.png", alt="", srcset="")
                div
                    img(src="assets/img/logofol/4.png", alt="", srcset="")
        #inquGala
            #leftSideGala
                #wordsGala
                    h5 Plan Your Trip 
                    h6 With Galaxia 
            #rightSideGala        
                    button Inquire Now