form#searchCardGala 
    div#destinationGala
        select(placeholder="Places").desti
            option(value="") Select Place
            option(value="aa") Egypt
            option(value="ew") ea
            option(value="fd") dsfsdf
            option(value="sd") asdasd
            option(value="ase") Egypt
            option(value="asfg") Egypt
            option(value="23") Egypt
            option(value="sadgg") Egypt
            option(value="sdfg") Egypt

  
    div#budgetGala
          select(placeholder="Budget").desti
            option(value="") Select Place
            option(value="aa") 500$
            option(value="ew") 700$
            option(value="fd") 800$
            option(value="sd") asdasd
            option(value="ase") Egypt
            option(value="asfg") Egypt
            option(value="23") Egypt
            option(value="sadgg") Egypt
            option(value="sdfg") Egypt
    div#gooGala
        #gooDescGala
            h4 More Than 500 Trip
        button 
            i.fa.fa-search
            
