include  ../../commons/distBanner
include  ../../commons/cardMixin
+upperbar("bannerEgypt")
include ../../commons/flag
section
  .rows.inn-page-bg.com-colo
    #inner-page-title.container
      div
        // ====== Destinations ==========
        +cardMixin("Travel Packages", "1")
        // ====== Destinations ==========
        +cardMixin("Egypt Nile Cruises", "1")
        // ====== Destinations ==========
        +cardMixin("Egypt Combined Tours ", "1")
        // ====== Destinations ==========
        +cardMixin("Egypt Excursions", "1")
        // ====== Destinations ==========
        +cardMixin("Egypt Shore Excursions", "1")
        // ====== Destinations ==========
        +cardMixin("Airport Transfers ", "1")

      


#whyThisDestination.container-fluid
      #faq
        .container
          h2.section-title
            | Some Good Reasons 
        .container
          #blocks
            .block
                #icon 
                  i.honesty  
                #words 
                  h1 honesty   
                  p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, tempore. Fugiat, quos? 
            .block
                #icon 
                  i.inovation  
                #words 
                  h1 inovtion   
                  p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, tempore. Fugiat, quos? 
            .block
                #icon 
                  i.avail  
                #words 
                  h1 Availability   
                  p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, tempore. Fugiat, quos? 
