include  ../../commons/upperBanner
section(style="padding-top: 0 !important;")
  .rows.inn-page-bg.com-colo
    #inner-page-title.container.inn-page-con-bg.tb-space.pad-bot-redu
      // TITLE & DESCRIPTION
      .spe-title.col-md-12
        h2
          | All 
          span Destinations
        .title-line
          .tl-1
          .tl-2
          .tl-3
        p
          | World&apos;s leading tour and travels Booking website,Over 30,000 packages worldwide. Book travel packages and enjoy your holidays with distinctive experience
      div
        // ====== Destinations ==========
        .col-md-4.col-sm-6.col-xs-12.b_packages
          .v_place_img
            img(src='assets/img/foloImage/1.jpg' alt='Tour Booking' title='Tour Booking')
          .b_pack.rows
            .col-md-8.col-sm-8
              h4.destin
                a(href='tour-details.html')
                  |  Egypt
            .col-md-4.col-sm-4(style="text-align: right;")
              a(style="margin: 15px 0;display: inline-block;font-size: 12px;",href='tour-details.html')
                  |  Read more
        // ====== Destinations ==========
        .col-md-4.col-sm-6.col-xs-12.b_packages
          .v_place_img
            img(src='assets/img/foloImage/2.jpg' alt='Tour Booking' title='Tour Booking')
          .b_pack.rows
            .col-md-8.col-sm-8
              h4.destin
                a(href='tour-details.html')
                  |  UAE
            .col-md-4.col-sm-4(style="text-align: right;")
              a(style="margin: 15px 0;display: inline-block;font-size: 12px;",href='tour-details.html')
                  |  Read more
        // ====== Destinations ==========
        .col-md-4.col-sm-6.col-xs-12.b_packages
          .v_place_img
            img(src='assets/img/foloImage/1.jpg' alt='Tour Booking' title='Tour Booking')
          .b_pack.rows
            .col-md-8.col-sm-8
              h4.destin
                a(href='tour-details.html')
                  |  Morocco 
            .col-md-4.col-sm-4(style="text-align: right;")
              a(style="margin: 15px 0;display: inline-block;font-size: 12px;",href='tour-details.html')
                  |  Read more
        // ====== Destinations ==========
        .col-md-4.col-sm-6.col-xs-12.b_packages
          .v_place_img
            img(src='assets/img/foloImage/2.jpg' alt='Tour Booking' title='Tour Booking')
          .b_pack.rows
            .col-md-8.col-sm-8
              h4.destin
                a(href='tour-details.html')
                  |  Oman 
            .col-md-4.col-sm-4(style="text-align: right;")
              a(style="margin: 15px 0;display: inline-block;font-size: 12px;",href='tour-details.html')
                  |  Read more
        // ====== Destinations ==========
        .col-md-4.col-sm-6.col-xs-12.b_packages
          .v_place_img
            img(src='assets/img/foloImage/1.jpg' alt='Tour Booking' title='Tour Booking')
          .b_pack.rows
            .col-md-8.col-sm-8
              h4.destin
                a(href='tour-details.html')
                  |  Turkey
            .col-md-4.col-sm-4(style="text-align: right;")
              a(style="margin: 15px 0;display: inline-block;font-size: 12px;",href='tour-details.html')
                  |  Read more
        .col-md-12.col-sm-12
          p(style="text-align:center;margin-top:50px")
            | Discover two of South America’s greatest cities, Rio de Janeiro and Buenos Aires, at a leisurely pace. A major highlight on this journey is a visit to Iguassu Falls in between your two city stays. It truly is one of the most spectacular sights on Earth. See the impressive falls from both the Brazilian and Argentine sides.
