include  ../../commons/distBanner
include  ../../commons/cardMixin
+upperbar("bannerEgypt")
include ../../commons/flag
section
  .rows.inn-page-bg.com-colo
    #inner-page-title.container
      div
        // ====== Destinations ==========
        +cardMixin("Travel Packages", "1")
        // ====== Destinations ==========
        +cardMixin("Egypt Nile Cruises", "1")
        // ====== Destinations ==========
        +cardMixin("Egypt Combined Tours ", "1")
        // ====== Destinations ==========
        +cardMixin("Egypt Excursions", "1")
        // ====== Destinations ==========
        +cardMixin("Egypt Shore Excursions", "1")
        // ====== Destinations ==========
        +cardMixin("Airport Transfers ", "1")

      


#whyThisDestination.container-fluid
      #faq
        .container
          h2.section-title
            | FAQ
        #accordionFAQ.accordion
          .card
            #heading1.card-header
              button.collapsed(type='button' data-toggle='collapse' data-target='#collapse1' aria-expanded='false' aria-controls='collapse1')
                span
                  | Question title?
            #collapse1.collapse.show(aria-labelledby='heading1' aria-expanded='false' data-parent='#accordionFAQ' style='height:0px')
              .card-body
                | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably heard of them accusamus labore sustainable VHS.