section#whyUs.container-fluid
    .container
            .whyUsDataGala
                .whyUsDataLeftGala
                    h3 Whats So Great About 
                    h2 Galaxia 
                        span tours 
                .whyUsDataRight
                    .why
                        .leftWhy
                             i.fa.fa-book(aria-hidden='true')
                        .rightWhy
                            h3 TRANSPARENCY
                            span We’re an open book.      
                    .why
                        .leftWhy
                             i.fa.fa-lightbulb-o(aria-hidden='true')
                        .rightWhy
                            h3 INNOVATION
                            span never stop innovating      
                    .why
                        .leftWhy
                             i.fa.fa-cogs(aria-hidden='true')
                        .rightWhy
                            h3 SERVICE 
                            span only the BEST FOR YOU.      
