
section#footer.container-fluid
    .container
        .footerUpper
            
        
        .footerDown           
                .aboutUsGala
                    .galaxiaLogo
                        img(src="./assets/img/logo.jpg", alt="")
                    .paragraph
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ipsum neque fugit enim et eius veritatis perferendis nisi fugiat aperiam aspernatur repellat odio nobis.
                    .socialinksGala
                        ul
                            li  
                                a data    
                                a data    
                                a data    
                                a data    
                .linksGala
                    .ListCoulmn
                        .headFooterGala
                            h5 Destiontions
                        .listFooterGala
                            ul
                                li.reorder 
                                    a(href='#') All Destination;
                                    a(href='#') Egypt
                                    a(href='#') Jordan
                                    a(href='#') Dubai
                                    a(href='#') Oman
                                    a(href='#') turkey
                                    
                                    
                    .ListCoulmn
                        .headFooterGala
                            h5 tours
                        .listFooterGala
                            ul
                                li.reorder 
                                    a(href='#') All Tours
                                    a(href='#') Family Tours
                                    a(href='#') Honey Moon
                                    a(href='#') Cultural tours
                                    a(href='#') Budget Tours
                                    a(href='#') Cruise Tours
                    .ListCoulmn
                        .headFooterGala
                            h5 resources
                        .listFooterGala
                            ul
                                li.reorder 
                                    a(href='#') Contuct Us
                                    a(href='#') About Us
                                    a(href='#') Site map
                                    a(href='#') Home
                                    a(href='#') Term & Condtions
                                    a(href='#') Special Offers
                                    
                                    
                .end
                    .footerPic
                        img(src="./assets/img/footer.png", alt="")
                    .footerIcon
                        span We Accept
                        ul
                            li 
                                img(src="./assets/img/payment/visa.png", alt="")
                                img(src="./assets/img/payment/master.png", alt="")
                                img(src="./assets/img/payment/amex.png", alt="")
                                img(src="./assets/img/payment/jcr.png", alt="")
section#footerBar.container-fluid
        .container
            .copyRights
                span copywrites by Galaxia Group 2019     