.Container-fluid.cont-color
    .contact-bar
        img.footer-image(src="./assets/img/Mask-Group.png", alt="")
        .inside-bar
            .container
                .sec-small-bar-location
                    .small-bar
                        .first-table
                            .h3 egypt office
                            .h4 0125321748
                        .sec-table
                            .h3 egypt office
                            .h4 0125321748
        .upper-bar
            .container
                .first-small-bar-location
                    .written
                        .h3 egypt office in the egypt tours
                        .h4 0125321748 in the worlds ny tony
    .container
        .col-md-6
            .h3.footer-title about
            .p.prag-color Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        .col-md-2
            .h3.footer-title about
            .ul.list
                .li 5rabjhdsf
                .li girlsjhsd
                .li blamlkjds
                .li girlskfdsj
                .li blamkjd     
    .cont-bg
        .container
            .footer-img
                img.imageGala( src="./assets/img/Rectangle.jpg", alt="")
            .postion
                .h4 All Right reserved for galaxia group





       
        
