
section#footer.container-fluid
    .container
        .footerUpper
            
        
        .footerDown           
                .aboutUs
                    .galaxiaLogo
                        img(src="./assets/img/logo.jpg", alt="")
                    .paragraph
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ipsum neque fugit enim et eius veritatis perferendis nisi fugiat aperiam aspernatur repellat odio nobis, voluptatibus quod doloremque dolores! Asperiores, unde.
                    .socialinks
                        ul
                            li  
                                a data    
                                a data    
                                a data    
                                a data    
                .links
                    .ListCoulmn
                        .head
                            span header
                        .list
                            ul
                                li.reorder 
                                    a data
                                    a data
                                    a data
                                    a data
                    .ListCoulmn
                        span data
                    .ListCoulmn
                        span data
                        
                .end
                    span nana    
section#footerBar.container-fluid
        .container
            span data       