include ../../commons/topSection

section#slideOra
      .sliderOraGala
            .swiper-wrapper
                .swiper-slide(style="background-image:url('assets/img/foloimage/p1.jpg')")
                             h1 Family Gather Packages
                             span 200$ 
                                  h1 was 400$
                             span.sale 10% sale   
                .swiper-slide(style="background-image:url('assets/img/foloimage/p2.jpeg')")
                              h1 Honey Moon Packages
                              span 200$ 
                                    h1 was 400$
                              span.sale 10% sale          
                .swiper-slide(style="background-image:url('assets/img/foloimage/p3.jpg')")
                              h1 Hicking Juncky's Packages
                              span 200$ 
                                    h1 was 400$
                              span.sale 10% sale     
                .swiper-slide(style="background-image:url('assets/img/foloimage/p4.jpg')")
                              h1 Historical Addicts Packages
                              span 200$ 
                                    h1 was 400$
                              span.sale 10% sale  
                .swiper-slide(style="background-image:url('assets/img/foloimage/5.jpg')")
                              h1 Delhi
                              span 200$ 
                                    h1 was 400$
                              span.sale 10% sale    
                .swiper-slide(style="background-image:url('assets/img/foloimage/6.jpg')")
                              h1 Spain    
                              span 200$ 
                                    h1 was 400$
                              span.sale 10% sale                                                              