section(style="padding-top:0rem !important; ")
  .ed-mob-menu
    .ed-mob-menu-con
      .ed-mm-left
        .wed-logo
          a(href='main.html')
            img(src='images/logo.png' alt='')
      .ed-mm-right
        .ed-mm-menu
          a.ed-micon(href='#!')
            i.fa.fa-bars
          .ed-mm-inn
            a.ed-mi-close(href='#!')
              i.fa.fa-times
            h4 Home pages
            ul
              li
                a(href='booking-all.html') Home page 1
              li
                a(href='booking-all.html') Home page 2
              li
                a(href='booking-tour-package.html') Home page 3
              li
                a(href='booking-hotel.html') Home page 4
              li
                a(href='booking-car-rentals.html') Home page 5
              li
                a(href='booking-flight.html') Home page 6
              li
                a(href='booking-slider.html') Home page 7
            h4 Tour Packages
            ul
              li
                a(href='all-package.html') All Package
              li
                a(href='family-package.html') Family Package
              li
                a(href='honeymoon-package.html') Honeymoon Package
              li
                a(href='group-package.html') Group Package
              li
                a(href='weekend-package.html') WeekEnd Package
              li
                a(href='regular-package.html') Regular Package
              li
                a(href='custom-package.html') Custom Package
            h4 Sighe Seeings Pages
            ul
              li
                a(href='places.html') Seight Seeing 1
              li
                a(href='places-1.html') Seight Seeing 2
              li
                a(href='places-2.html') Seight Seeing 3
            h4 User Dashboard
            ul
              li
                a(href='dashboard.html') My Bookings
              li
                a(href='db-my-profile.html') My Profile
              li
                a(href='db-my-profile-edit.html') My Profile edit
              li
                a(href='db-travel-booking.html') Tour Packages
              li
                a(href='db-hotel-booking.html') Hotel Bookings
              li
                a(href='db-event-booking.html') Event bookings
              li
                a(href='db-payment.html') Make Payment
              li
                a(href='db-refund.html') Cancel Bookings
              li
                a(href='db-all-payment.html') Prient E-Tickets
              li
                a(href='db-event-details.html') Event booking details
              li
                a(href='db-hotel-details.html') Hotel booking details
              li
                a(href='db-travel-details.html') Travel booking details
            h4 Other pages:1
            ul
              li
                a(href='tour-details.html') Travel details
              li
                a(href='hotel-details.html') Hotel details
              li
                a(href='all-package.html') All package
              li
                a(href='hotels-list.html') All hotels
              li
                a(href='booking.html') Booking page
            h4.ed-dr-men-mar-top User login pages
            ul
              li
                a(href='register.html') Register
              li
                a(href='login.html') Login and Sign in
              li
                a(href='forgot-pass.html') Forgot pass
            h4 Other pages:2
            ul
              li
                a(href='about.html') About Us
              li
                a(href='testimonials.html') Testimonials
              li
                a(href='events.html') Events
              li
                a(href='blog.html') Blog
              li
                a(href='tips.html') Tips Before Travel
              li
                a(href='price-list.html') Price List
              li
                a(href='discount.html') Discount
              li
                a(href='faq.html') FAQ
              li
                a(href='sitemap.html') Site map
              li
                a(href='404.html') 404 Page
              li
                a(href='contact.html') Contact Us
section(style="padding-top:0 ! important;")
  // TOP BAR
  .ed-top
    .container
      .row
        .col-md-12
          .ed-com-t1-left
            ul
              li
                a(href='#') Contact: Lake Road, Suite 180 Farmington Hills, U.S.A.
              li
                a(href='#') Phone: +101-1231-1231
          .ed-com-t1-right
            ul
              li
                a(href='login.html') Espaniol
          .ed-com-t1-social
            ul
              li
                a(href='#')
                  i.fa.fa-facebook(aria-hidden='true')
              li
                a(href='#')
                  i.fa.fa-google-plus(aria-hidden='true')
              li
                a(href='#')
                  i.fa.fa-twitter(aria-hidden='true')
  // LOGO AND MENU SECTION
  .top-logo(data-spy='affix' data-offset-top='250')
    .container
      .row
        .col-md-12
          .wed-logo
            a(href='main.html')
              img(src='assets/img/logofol/3.png' style="height:auto; width:17rem;" alt='')
          .main-menu
            ul
              li
                a(href='main.html') Home
              li.about-menu
                a.mm-arr(href='family-package.html') Destinations
                // MEGA MENU 1
                .mm-pos
                  .about-mm.m-menu
                    .m-menu-inn
                      .mm1-com.mm1-s1
                        .ed-course-in
                          a.course-overlay.menu-about(href='all-package.html')
                            img(src='assets/img/foloImage/1.jpg' alt='')
                            span Dubai
                      .mm1-com.mm1-s2
                        p
                          | Want to change the world? At Dubai we&rsquo;re doing just that. When you join the Golden Bear community, you&rsquo;re part of an institution that shifts the global conversation every single day.
                        a.mm-r-m-btn(href='all-package.html') Read more
                      .mm1-com.mm1-s3
                        ul
                          li
                            a(href='booking-all.html') All Destinations
                          li
                            a(href='booking-tour-package.html') Eirates U.A.E
                          li
                            a(href='booking-hotel.html') U.A.E
                          li
                            a(href='booking-car-rentals.html') Jordan
                          li
                            a(href='booking-flight.html') Moroco
                          li
                            a(href='booking-slider.html') Spain
                      .mm1-com.mm1-s4
                        ul
                          li
                            a(href='all-package.html') All Package
                          li
                            a(href='family-package.html') Family Package
                          li
                            a(href='honeymoon-package.html') Honeymoon Package
                          li
                            a(href='group-package.html') Group Package
                          li
                            a(href='weekend-package.html') WeekEnd Package
                          li
                            a(href='regular-package.html') Regular Package
                          li
                            a(href='custom-package.html') Custom Package
              li.admi-menu
                a.mm-arr(href='#') Special Offers
                // MEGA MENU 1
                .mm-pos
                  .admi-mm.m-menu
                    .m-menu-inn
                      .mm2-com.mm1-com.mm1-s1
                        .ed-course-in
                          a.course-overlay(href='places.html')
                            img(src='assets/img/foloImage/1.jpg' alt='')
                            span Seight Seeing - 1
                        p
                          | Donec lacus libero, rutrum ac sollicitudin sed, mattis non eros. Vestibulum congue nec eros quis lacinia. Mauris non tincidunt lectus. Nulla mollis, orci vitae accumsan rhoncus.
                        a.mm-r-m-btn(href='places.html') Read more
                      .mm2-com.mm1-com.mm1-s1
                        .ed-course-in
                          a.course-overlay(href='places-1.html')
                            img(src='assets/img/foloImage/2.jpg' alt='')
                            span Seight Seeing - 2
                        p
                          | Donec lacus libero, rutrum ac sollicitudin sed, mattis non eros. Vestibulum congue nec eros quis lacinia. Mauris non tincidunt lectus. Nulla mollis, orci vitae accumsan rhoncus.
                        a.mm-r-m-btn(href='places-1.html') Read more
                      .mm2-com.mm1-com.mm1-s1
                        .ed-course-in
                          a.course-overlay(href='places-2.html')
                            img(src='assets/img/foloImage/3.jpg' alt='')
                            span Seight Seeing - 3
                        p
                          | Donec lacus libero, rutrum ac sollicitudin sed, mattis non eros. Vestibulum congue nec eros quis lacinia. Mauris non tincidunt lectus. Nulla mollis, orci vitae accumsan rhoncus.
                        a.mm-r-m-btn(href='places-2.html') Read more
                      .mm2-com.mm1-com.mm1-s4
                        .ed-course-in
                          a.course-overlay(href='places-3.html')
                            img(src='assets/img/foloImage/4.jpg' alt='')
                            span Seight Seeing - 4
                        p
                          | Donec lacus libero, rutrum ac sollicitudin sed, mattis non eros. Vestibulum congue nec eros quis lacinia. Mauris non tincidunt lectus. Nulla mollis, orci vitae accumsan rhoncus.
                        a.mm-r-m-btn(href='places-3.html') Read more
              li
                a(href='hotel-details.html') About Us 
              // <li><a class='dropdown-button ed-sub-menu' href='#' data-activates='dropdown1'>Courses</a></li>
              //- li.cour-menu
                a.mm-arr(href='#!') All Pages
                // MEGA MENU 1
                .mm-pos
                  .cour-mm.m-menu
                    .m-menu-inn
                      .mm1-com.mm1-cour-com.mm1-s3
                        h4 Home pages
                        ul
                          li
                            a(href='booking-all.html') Home page 1
                          li
                            a(href='booking-all.html') Home page 2
                          li
                            a(href='booking-tour-package.html') Home page 3
                          li
                            a(href='booking-hotel.html') Home page 4
                          li
                            a(href='booking-car-rentals.html') Home page 5
                          li
                            a(href='booking-flight.html') Home page 6
                          li
                            a(href='booking-slider.html') Home page 7
                      .mm1-com.mm1-cour-com.mm1-s3
                        h4 Tour Packages
                        ul
                          li
                            a(href='all-package.html') All Package
                          li
                            a(href='family-package.html') Family Package
                          li
                            a(href='honeymoon-package.html') Honeymoon Package
                          li
                            a(href='group-package.html') Group Package
                          li
                            a(href='weekend-package.html') WeekEnd Package
                          li
                            a(href='regular-package.html') Regular Package
                          li
                            a(href='custom-package.html') Custom Package
                        h4.ed-dr-men-mar-top Sighe Seeings Pages
                        ul
                          li
                            a(href='places.html') Seight Seeing 1
                          li
                            a(href='places-1.html') Seight Seeing 2
                          li
                            a(href='places-2.html') Seight Seeing 3
                      .mm1-com.mm1-cour-com.mm1-s3
                        h4 User Dashboard
                        ul
                          li
                            a(href='dashboard.html') My Bookings
                          li
                            a(href='db-my-profile.html') My Profile
                          li
                            a(href='db-my-profile-edit.html') My Profile edit
                          li
                            a(href='db-travel-booking.html') Tour Packages
                          li
                            a(href='db-hotel-booking.html') Hotel Bookings
                          li
                            a(href='db-event-booking.html') Event bookings
                          li
                            a(href='db-payment.html') Make Payment
                          li
                            a(href='db-refund.html') Cancel Bookings
                          li
                            a(href='db-all-payment.html') Prient E-Tickets
                          li
                            a(href='db-event-details.html') Event booking details
                          li
                            a(href='db-hotel-details.html') Hotel booking details
                          li
                            a(href='db-travel-details.html') Travel booking details
                      .mm1-com.mm1-cour-com.mm1-s3
                        h4 Other pages:1
                        ul
                          li
                            a(href='tour-details.html') Travel details
                          li
                            a(href='hotel-details.html') Hotel details
                          li
                            a(href='all-package.html') All package
                          li
                            a(href='hotels-list.html') All hotels
                          li
                            a(href='booking.html') Booking page
                        h4.ed-dr-men-mar-top User login pages
                        ul
                          li
                            a(href='register.html') Register
                          li
                            a(href='login.html') Login and Sign in
                          li
                            a(href='forgot-pass.html') Forgot pass
                      .mm1-com.mm1-cour-com.mm1-s4
                        h4 Other pages:2
                        ul
                          li
                            a(href='about.html') About Us
                          li
                            a(href='testimonials.html') Testimonials
                          li
                            a(href='events.html') Events
                          li
                            a(href='blog.html') Blog
                          li
                            a(href='tips.html') Tips Before Travel
                          li
                            a(href='price-list.html') Price List
                          li
                            a(href='discount.html') Discount
                          li
                            a(href='faq.html') FAQ
                          li
                            a(href='sitemap.html') Site map
                          li
                            a(href='404.html') 404 Page
                          li
                            a(href='contact.html') Contact Us
              //- li
              //-   a(href='events.html') Events
              //- li
              //-   a(href='dashboard.html') Profile
              li
                a(href='contact.html') Contact us
  // TOP SEARCH BOX
  //- .search-top
  //-   .container
  //-     .row
  //-       .col-md-12
  //-         .search-form
  //-           form.tourz-search-form
  //-             .input-field
  //-               input#select-city.autocomplete(type='text')
  //-               label(for='select-city') Enter city
  //-             .input-field
  //-               input#select-search.autocomplete(type='text')
  //-               label.search-hotel-type(for='select-search') Search over a million tour and travels, sight seeings, hotels and more
  //-             .input-field
  //-               input.waves-effect.waves-light.tourz-sear-btn(type='submit' value='search')
  //- // END TOP SEARCH BOX
