section#footerTop.container-fluid 
        .lowerGala
            .container
                .dataIn
                    .imgWrapper
                        img(src="assets/img/foloImage/callcentergirl.png", alt="")
                    .another
                        .innerdiv  
                            .upperData
                                h1 Start planning your tailor-made holiday
                                h2  by contacting ​one of our specialists...
                            .downData  
                                div 
                                    .divWrapper
                                        h1 Egypt Office 
                                        h5 +202 24 14 41 01 
                                div 
                                    .divWrapper
                                        h1 DUBAI  OFFICE
                                        h5 +971 42 65 69 56 
