section#about-us
    .rows.banner-container
        img(src="assets/img/panorama-pic-1350-500.jpg", alt="", srcset="")
    .container.repostion
        .title
            .h2
                span  About Us
        .sub-title
            span Who We Are
        .pragraph-area
            .col-md-8
                .p strong Galaxia Tours is one of the trusted Destination Management Companies based out in Egypt and the UAE, and has close partners spread out across the Middle East. 
                br
                .p Primarily, we engage in offering comprehensive holiday and five-star travel packages to the Middle East. Galaxia Tours has a reputation of giving clients an authentic, super-luxurious and an unforgettable travel experience. 
                br
                .p Our goal is to become the Number 1 tourism service provider in the entire Middle East region, and we are leaving no stones unturned. We are working hard to make this happen as we have decades of hard work and experience.
            .col-md-4
                img(src="assets/img/side-pic.jpg", alt="", srcset="")
        .sub-title
            span Our Services
        .pragraph-area
            .col-md-12
                .p Holidays are supposed to be fun and glorious. That's why we design and tailor-fit travel solutions as to the individual needs of each client.
        .pragraph-area
            .col-md-12
                .p.top-title Service
                br
                .p.upper-title Only the best for our clients.
                br
                .p Trust us to make sure that your total travel experience is worry-free and seamless as it could be. Providing a fast, efficient and zero hassle service is our paramount goal.
                .p Because of our vast network across the Middle East, you can count on our extra-ordinary and high quality of service wherever you are. 
        .pragraph-area
            .col-md-12
                .p.top-title Transparency
                br
                .p.upper-title Advocating Sustainable Tourism
                br
                .p Travelling could be complicated, but with us, we take away the complications. 
                .p We deliver everything we promise, it can never be more simpler than that. 
        .pragraph-area
            .col-md-12
                .p.top-title CSR
                br
                .p.upper-title We dare to dream big
                br
                .p Holidays are supposed to be fun and glorious. That's why we design and tailor-fit travel solutions as to the individual needs of each client.    
        .pragraph-area
            .col-md-12
                .p.top-title Ambition
                br
                .p.upper-title Escorted Motor Coach tours
                br
                .p Holidays are supposed to be fun and glorious. That's why we design and tailor-fit travel solutions as to the individual needs of each client.
        .pragraph-area
            .col-md-12
                .p.top-title Ambition
                br
                .p.upper-title Escorted Motor Coach tours
                br
                .p Middle East is touted as the cradle of civilization and so naturally it is the birthplace of a myriad of religions, cultures and traditions. There are just so many things to explore in this region, the potential is truly limitless.
                .p Experience and witness first-hand the beauty of the region and cultural heritage of the region.
                .p That's why we are proud to offer not one but a hodge-podge of different packages each customized according to the needs of the customer. You can choose to unwind and relax on a beach or at an exclusive resort, get lost in the bazars or be awestruck by historical wonders, rest assured we provide them. 
        

