  // Typography //
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

  $ff: 'Open Sans', sans-serif;

  // Colors //
  $colors: (
    primary: #FDA014,
    white: #FFFFFF,
    light: #F4F4F4,
    black: #005187,
    grey: #C4C4C4,
    ghost: rgba(0,0,0,.0)
  );

  // Transitions //
  $time: 200ms;
  $ease: cubic-bezier(0.165, 0.84, 0.44, 1);
  $smooth: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  $transition: $ease, $time;

  @mixin section-title($color) {
    color: $color;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 3rem 0;
  }
  .section-title { @include section-title(map-get($colors, white)); }
  #faq {
    padding: 0 0 10rem;
    button {
        all: unset;
      }
    .accordion {

      .card {
        
         
        border: .1rem solid map-get($colors, grey);
        border-radius: .4rem;
        overflow: hidden;
        margin: 0 0 1.5rem;
        width:100%;    
        .card-header {
          border: none;
          padding: 0;
          height:7rem;
          display:flex;
          align-items:center;

          button {
            background: map-get($colors, primary) url('http://icons.iconarchive.com/icons/icons8/ios7/512/User-Interface-Minus-icon.png') no-repeat 98.5% center / contain;
            color: map-get($colors, white);
            width: 100%;
            padding: 2.3rem 0;
            padding-left:1rem;

            span {
              display: block;
              font-weight:500;
              font-size:2rem;
              text-transform:upperCase;
              
            }

            &:focus {
              box-shadow: none;
              outline: none;
            }

            &.collapsed {
              background: map-get($colors, white) url('https://image.flaticon.com/icons/png/128/61/61112.png') no-repeat 98.5% center / 15px 15px;
              color: map-get($colors, primary);
          
              span{
                font-weight:500;
                font-size:2rem;
                text-transform:upperCase;

              }
            }
          }
        }

        .card-body {
          font-size: 1.6rem;
          font-weight: 400;
          letter-spacing: .05rem;
          line-height: 155%;
          padding-left:1rem;
          padding-top:1rem;
          font-size:1.3rem;
          font-weight:500;
          padding-bottom:1rem;
        }
      }
    }

    .support-text {
      font-size: 1.6rem;
      letter-spacing: .05rem;
      margin: 0;
    }
  }

