include  ../../commons/distBanner
include  ../../commons/cardMixin
+upperbar("bannerEgypt")
include ../../commons/packFlag
.container-fluid
    section#cont.container
        .row    
            .col-md-9
     
                #idTabs
                    div.active
                        a(href="#") Summmary 
                    div
                        a(href="#") Included 
                    div
                        a(href="#") Day by day 
                    div
                        a(href="#") Hotels 
                    div
                        a(href="#") Prices 
                    div
                        a(href="#") Photos 
                #idTabsi 
                    #summary.active
                        a(href="#") Summmary        
                    #included
                        a(href="#") Included        
                    #daybyday
                        a(href="#") Day by day        
                    #hotels
                        a(href="#") Hotels        
                    #price
                        a(href="#") Prices        
                    #photos
                        a(href="#") Photos   
                #leftContainerWrapper
                    #suma.tour_head1
                        h3 Tour Details            
                    #imageLeft
                        div(style="background-image: url('assets/img/foloImage/1.jpg');")        
                              h4 any data w 5lasasdasdasd asdasdasd asdasdasd aasdasd 
                        div(style="background-image: url('assets/img/foloImage/2.jpg');")        
                              h4 any data w 5lasasdasdasd asdasdasd asdasdasd aasdasd 
                        div(style="background-image: url('assets/img/foloImage/3.jpg');")        
                              h4 any data w 5lasasdasdasd asdasdasd asdasdasd aasdasd 
                        div(style="background-image: url('assets/img/foloImage/4.jpg');")        
                              h4 any data w 5lasasdasdasd asdasdasd asdasdasd aasdasd 
                    #parag Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim commodi culpa veniam inventore non labore nostrum voluptates asperiores qui rem! Corporis nam deleniti dolorem voluptatibus error et doloribus maiores mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim commodi culpa veniam inventore non labore nostrum voluptates asperiores qui rem! Corporis nam deleniti dolorem voluptatibus error et doloribus maiores mollitia. 
                    .tour_head1.d-info-pack-days.days    
                        h3 Detailed Day Wise Itinerary
                        ul
                            li.d-info-pack-days 
                                i.fa.fa-clock-o 
                                h4 
                                  span Day : 1
                                  | Anywhere 
                            li.d-info-pack-days 
                                i.fa.fa-clock-o 
                                h4 
                                  span Day : 2
                                  | Anywhere 
                            li.d-info-pack-days 
                                i.fa.fa-clock-o 
                                h4 
                                  span Day : 3
                                  | Anywhere 
                #leftContainerWrapper
                        #whatInc.tour_head1
                            #whatIncTable
                                //- h4 Inclusions / Exclusion
                                #included 
                                    div
                                        p What's Included  :  
                                    ul 
                                        li Lorem ipsum dolor sit amet, 
                                        li Lorem ipsum dolor sit amet, 
                                        li Lorem ipsum dolor sit amet, 
                                        li Lorem ipsum dolor sit amet, 
                                        li Lorem ipsum dolor sit amet, 
                                        li Lorem ipsum dolor sit amet, 
                                        li Lorem ipsum dolor sit amet, 
                                        li Lorem ipsum dolor sit amet, 
                                        li Lorem ipsum dolor sit amet, 
                                        li Lorem ipsum dolor sit amet, 
                                        li Lorem ipsum dolor sit amet, 
                                
                                #notIncluded
                                    p What's Not Included :
                                    ul 
                                        li Lorem ipsum dolor sit amet,      
                                        li Lorem ipsum dolor sit amet,      
                                        li Lorem ipsum dolor sit amet,    
                #leftContainerWrapper
                    #customize
                        h3 Did you know you can make this trip even better? 
                        button(onclick="make()")  Customize This Tour
                #daysEntered
                    #leftContainerWrapper
                        #topHead
                            #day
                                h4 Day
                                span 1    
                            #place
                                h2 Cairo    
                        #contBody
                            #image(style="background: url('https://lh3.googleusercontent.com/-BHiBsm0YetM/VWZdO1yYXbI/AAAAAAAAETo/H_egkWAwFXo/cairo2.jpg') no-repeat ;")    
                            #bodyOfContBody
                                #ContBodyPar
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, accusantium odit magni eius ut accusamus est asperiores maxime voluptate at delectus! Tempora quae labore quas modi repellat tenetur optio nulla!,Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, accusantium odit magni eius ut accusamus est asperiores maxime voluptate at delectus! Tempora quae labore quas modi repellat tenetur optio nulla!       
                                #additions
                                    h5#hotel MovienPick Sheraton     
                                    h5#place Cairo     
                        #footerContent
                            #breakfast.active
                                i.fa.fa-coffee
                                |  Breakfast    
                            #Lunch
                                i.fa.fa-cutlery
                                |  Lunch    
                            #Dinner
                                i.fa.fa-glass
                                |  Dinner    
                #leftContainerWrapper
                    #accomTag.tour_head1
                        h3 Accomidations
                        #accomLayers
                            #acomlayer
                                #location 
                                    h5 Cairo 
                                #accomi
                                    h5 Sheraton Cosmo 
                                #nights 
                                    span 5 
                                    h5 Nights         
                            #acomlayer
                                #location 
                                    h5 Cairo 
                                #accomi
                                    h5 Sheraton Cosmo 
                                #nights 
                                    span 5 
                                    h5 Nights         
                #leftContainerWrapper
                    .wrapper
                        #pricesGoal.tabs
                            input#tabone(type='radio' name='tabs' checked='checked')
                            label(for='tabone')  
                                i.fa.fa-eercast 
                                | 	2-3 Persons
                            .tab
                              #priceTable
                                table
                                    tr
                                        th Per Person
                                        th Standard Hotel
                                        th Deluxe Hotel  
                                        th Elite Hotel  
                                    tr 
                                        td Double Room 
                                        td 100$ 
                                        td 540$
                                        td 540$
                                    tr 
                                        td Single Supplement Room
                                        td 5 Stars 
                                        td 1240 $
                                        td 1240 $
 

                            input#tabtwo(type='radio' name='tabs')
                            label(for='tabtwo')
                                 i.fa.fa-eercast 
                                 | 	4-7 Persons
                            .tab
                                #priceTable
                                    table
                                        tr
                                            th Per Person
                                            th Standard Hotel
                                            th Deluxe Hotel  
                                            th Elite Hotel  
                                        tr 
                                            td Double Room 
                                            td 100$ 
                                            td 540$
                                            td 540$
                                        tr 
                                            td Single Supplement Room
                                            td 50 $  
                                            td 1240 $
                                            td 1240 $
                            input#tabthree(type='radio' name='tabs')
                            label(for='tabthree')
                                 i.fa.fa-eercast 
                                 | 	7-10 Persons
                            .tab
                                #priceTable
                                    table
                                        tr
                                            th Per Person
                                            th Standard Hotel
                                            th Deluxe Hotel  
                                            th Elite Hotel  
                                        tr 
                                            td Double Room 
                                            td 100$ 
                                            td 540$
                                            td 540$
                                        tr 
                                            td Single Supplement Room
                                            td 5 Stars 
                                            td 1240 $
                                            td 1240 $
                            input#tabfour(type='radio' name='tabs')
                            label(for='tabfour')
                                 i.fa.fa-eercast 
                                 | 	10+ Persons
                            .tab
                                #priceTable
                                    table
                                        tr
                                            th Per Person
                                            th Standard Hotel
                                            th Deluxe Hotel  
                                            th Elite Hotel  
                                        tr 
                                            td Double Room 
                                            td 100$ 
                                            td 540$
                                            td 540$
                                        tr 
                                            td Single Supplement Room
                                            td 5 Stars 
                                            td 1240 $
                                            td 1240 $
 
            .col-md-3
                #stick
                    .right_price( style="margin-top:5rem; padding-top:2rem;")  
                        .right_title(style="background:url('https://lh3.googleusercontent.com/--McVMfBzjnE/VVRSrN3O3LI/AAAAAAAADZw/5hgS2oBjjqY/Luxor-Temples%2Bof%2BKarnak-Great%2BHypostyle%2BHall-Ancient%2BThebes-M.jpg'); background-size:cover;")    
                            h3 Starting From 
                            h2 200 
                                span $      
                        ul
                            li 
                                button#openMod.link-btn Book Now              
                                
