$mainOra : #FDA014;
$hoverOra:#F78F1E;
$whiteDark :#F9F9F9;
$mainBlu :#3477B7;
$sidBlu: #005187;
$sideBlu:rgba(0, 85, 165, 0.527);
$overlay: rgba(52, 120, 183, 0.5);
$back1:#F9F9F9;
$priceColor:#104366;
$hoveSidBlueDark:#104466e7;
$footer-color:#0055a5;
$mainFooterColor:#0e2b48;


