$mainOra : #FDA014;
$mainOraOpa : rgba(253, 160, 20, 0.479);
$hoverOra:#F78F1E;
$whiteDark :#F9F9F9;
$mainBlu :#3477B7;
$sidBlu: #005187;
$sideBlu:rgba(0, 85, 165, 0.527);
$overlay: rgba(52, 120, 183, 0.5);
$packageOverlay: rgba(52, 120, 183, 0.2);
$packageOverlayHover: rgba(52, 120, 183, 0.6);
$back1:#F9F9F9;
$priceColor:#104366;
$hoveSidBlueDark:#104466e7;
$footer-color:#0055a5;
$mainFooterColor:#0e2b48;


$materialShadow: 0px 15px 20px 0px rgba(34, 34, 34, 0.157);
$materialShadowHover: 0px 5px 10px 0px rgba(0, 0, 0, 0.281);
$buttonColor:#0055A5;
