include partials/card
sction#infoGala.container-fluid
        .container
                .infoSectionGala
                        .parts
                            .part
                                +infoCard("Around-the-clock support","Feel at ease traveling anywhere. Get your questions answered anytime via email, phone, or a knock on the door.","assets/img/iconz/call.png")
                            .part
                                 +infoCard("Easy & Fast Booking","Search, compare and at the lowest fares.","assets/img/iconz/clock.png")
                            .part
                                 +infoCard("cHEAP aND affordable pRICES ","Enjoy Your Dream Vacation With The Best Affordable And Cheap Price With Galaxia Tours.","assets/img/iconz/credit.png")
                            .part
                                 +infoCard("Multi Payment Option","Choose how you want to pay for your bookings","assets/img/iconz/save.png")